@import url("components/navbar.css");
@import url("components/footer.css");


.box-site-head {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: 5px auto;
    height: 200px;
    border: 5px solid red;
    color: red;
}

.block-border-bottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: rgb(230, 6, 6);
    width: 90%;
    height: 5em;
    margin: 5px auto;
    border:3px solid red;
}
.box-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    height: 15em;
    margin: 5px auto;
    border: 5px solid red;
    width: 75%;
    color: red;
}
.box-center2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    height: 15em;
    margin: 5px auto;
    border: 5px solid red;
    width: 75%;
    color: red;
}
.box-left {
    float: left;
    width: 40%;
    margin:5px 30px;
    height: 10em;
    border: 5px solid red;
    color: red;
}
.box-right {
    float: right;
    width: 40%;
    margin:5px 30px;
    height: 10em;
    border: 5px solid red;
    color: red;
}
.box8 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    height: 10em;
    margin: 5px auto;
    border: 5px solid red;
    width: 80%;
    color: red;
}
.box9 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    height: 10em;
    margin: 5px auto;
    border: 5px solid red;
    width: 80%;
    color: red;
}
