
@import url("Components/card.css");


img{
    width: 300px;
    height: auto;

  }

  .container {
    display: flex;
    flex-direction: row;
  }
  .picture {
flex: 2;
  }

  .educational {

  }

  .picture {
      background-color: white;
      border: 2px solid lightgreen 
  }

  figcaption {
      text-align: center;
  }