.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(13, 243, 155);
    color: rgb(230, 6, 6);
    border: 2px solid red;
    width: 90%;
    margin: 5px auto;
}